<aside class="aside">
    <nav>
        <button class="hide" logout-button>Logout</button>
        <a href="../train">
            Train AI
            <img src=../<%= require("../../images/svg/train.svg") %> alt="">
        </a>
        <a href="../trainingHistory">
        Eerdere resultaten
        <img src=../<%= require("../../images/svg/clock.svg") %> alt="">
    </a>
    <a href="../chatbot">
        Test chatbot
        <img src=../<%= require("../../images/svg/chatbot.svg") %> alt="">            
        </a>
    </nav>
</aside>